html
    head
        title= title
        // Import Stylesheet
        link(rel='stylesheet', href='/css/materialize.css')
        link(rel='stylesheet', href='/css/style.css')
        // Import Font
        link(href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet")
        // Import Script
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/js/materialize.js')
        script(src='/js/script.js')
    body
block content