html
    head
        title= title
        // Import Stylesheet
        link(rel='stylesheet', href='/css/main.css')
        // Import Font
        link(href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossOrigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet")
        // Import Script
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='https://cloud.tinymce.com/stable/tinymce.min.js')
        script tinymce.init({ selector:'textarea' });
    body
block content