<nav>
    <ul class="navigation">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/profile/settings">Profile</a>
        </li>

        <li class="center_element">
            Dashboard
        </li>

        <li class="right_element">
            <a href="/oauth/logout">Login</a>
        </li>
    </ul>
</nav>