ul.nav
    if user
        li
            a(href="/#") Events
    li
        a(href="/#") Browse
    if user
        li
            a(href="/addticket") Your Ticket
        li
            a(href="/settings") Settings

    div.right_element_row
        if user
            li
                img(src=user.picture alt="profilePicture")
        else
            li
                a(href="/register") Register
            li
                a(href="/login") Login