ul
    if user
        li
            a(href="/#") Dashboard
    li
        a(href="/#") Issue
    if user
        li
            a(href="/settings") Settings

    div.right
        if user
            li
                img(src=user.picture alt="profilePicture")
        else
            li
                a(href="/register") Register
            li
                a(href="/login") Login