h1 {
  margin: 0;
  font-family: "Source Sans Pro Semiblod", sans-serif;
  color: #393C3E;
  font-size: 32px;
  line-height: 44px; }

h2 {
  font-family: "Source Sans Pro Regular", sans-serif;
  color: #393C3E;
  font-size: 22px;
  line-height: 32px; }

h3 {
  font-family: "Source Sans Pro Regular", sans-serif;
  color: #71787E;
  font-size: 20px;
  line-height: 28px; }

p {
  font-family: "Source Sans Pro Regular", sans-serif;
  color: #71787E;
  font-size: 15px;
  line-height: 24px; }

.link {
  font-family: "Source Sans Pro Semiblod", sans-serif;
  color: #00AEEF;
  font-size: 14px;
  line-height: 22px; }
  .link:focus {
    color: #009AD4; }

.container {
  margin: 0 auto;
  max-width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.col-1 {
  flex-basis: 8.33333%; }

.col-2 {
  flex-basis: 16.66667%; }

.col-3 {
  flex-basis: 25%; }

.col-4 {
  flex-basis: 33.33333%; }

.col-5 {
  flex-basis: 41.66667%; }

.col-6 {
  flex-basis: 50%; }

.col-7 {
  flex-basis: 58.33333%; }

.col-8 {
  flex-basis: 66.66667%; }

.col-9 {
  flex-basis: 75%; }

.col-10 {
  flex-basis: 83.33333%; }

.col-11 {
  flex-basis: 91.66667%; }

.col-12 {
  flex-basis: 100%; }

input[type=text],
input[type=email],
input[type=password] {
  background-color: #FFFFFF;
  width: 100%;
  font-family: "Source Sans Pro Regular", sans-serif;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border: #8D98A9 solid thin; }

input[value=""] {
  border: #8D98A9 solid thin; }

input:not([value=""]) {
  border: #DFE3E9 solid thin; }

textarea {
  background-color: #FFFFFF;
  width: 100%;
  padding: 0 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  height: 90px; }
  textarea:focus {
    border: #8D98A9 solid thin; }

textarea[value=""] {
  border: #DFE3E9 solid thin; }

textarea:not([value=""]) {
  border: #DFE3E9 solid thin; }

label {
  font-family: "Source Sans Pro Regular", sans-serif;
  color: #71787E; }

.form_input {
  width: 96%;
  padding-right: 5px; }

label {
  margin: 1%; }

.center_element {
  justify-content: center; }

.right_element {
  justify-content: right; }

.left_element {
  justify-content: left; }

button {
  background-color: #25B10E;
  margin-top: 25px;
  cursor: pointer;
  transition: opacity 0.5ms ease-in-out;
  border: 3px solid #4CAF50;
  border-radius: 6px;
  color: white;
  font-size: 15px; }
  button.large {
    padding: 14px 25px;
    width: 100%; }
    button.large.Lcard {
      width: 60%;
      margin-left: 5em;
      margin-right: 35px;
      margin-top: -0.5em; }
  button.medium {
    padding: 10px 16px;
    width: 25%; }
  button.small {
    padding: 6px 16px;
    margin-left: 10%;
    margin-top: 30px; }

a {
  background-color: #25B10E;
  margin-top: 25px;
  cursor: pointer;
  transition: opacity 0.5ms ease-in-out;
  border: 3px solid #4CAF50;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  margin-left: 15px; }
  a.large {
    padding: 5px 30px; }
    a.large.Lcard {
      margin-top: 0.5em;
      width: 100%; }

button:hover {
  background-color: #1F980A; }

.navigation {
  display: flex;
  background-color: #269CF4;
  opacity: .5; }
  .navigation nav a {
    display: block;
    color: white;
    background-color: transparent;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    transition: background-color 1ms ease-in-out;
    border-radius: 10%; }
    .navigation nav a:hover {
      background-color: #1166A5; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%; }
  ul li {
    float: left;
    padding: 10px; }
    ul li p {
      margin: 5px 0 0; }
  ul img.pp {
    width: 32px;
    height: 32px; }
    ul img.pp.pi {
      margin: 5px;
      padding: 0;
      border-radius: 0; }

.HomeCard {
  display: block;
  border: 0;
  width: 100%;
  height: 215px;
  border-radius: 3%;
  padding: 10px; }

.card__large {
  background: white;
  width: 100%;
  border-radius: 2%; }
  .card__large.right {
    margin-left: 144px;
    margin-top: 95px; }
  .card__large.left {
    margin-top: 95px;
    margin-left: 85px; }
  .card__large.center {
    background: transparent;
    padding-left: 30%;
    margin-top: 3%;
    padding-right: 15%; }

.card__medium {
  background: white;
  width: 50%; }

.card__small {
  background: white;
  width: 25%; }

.card a {
  color: black;
  text-decoration: none; }

.card a:hover {
  box-shadow: 3px 3px 8px #cccccc; }

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.4em;
  padding-left: 20px;
  padding-right: 20px; }

.auth {
  display: flex;
  background: white;
  border-radius: 3%;
  width: 60%;
  margin-left: 10%;
  border: solid #393C3E thin;
  padding: 20px; }
  .auth h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center; }
  .auth input, .auth button {
    margin-bottom: 5%; }
  .auth p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 5%; }
  .auth .col-12__border {
    border-bottom: solid thin; }

table.table {
  width: 100%;
  background: white;
  border-radius: 5%; }

.table th, .table td {
  text-align: left;
  padding: 0.25em; }

.table tr {
  border-bottom: 1px solid #DDD; }

td.edit-buttons {
  text-align: right; }

@media screen and (max-width: 800px) {
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3, 3, 3, 0.2); }
  td, th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3, 3, 3, 0.2); }
  td.edit-buttons, td.empty {
    flex: 1 0 90%;
    text-align: center; } }

.BtnValide {
  width: 25%;
  height: 40px;
  margin-bottom: 5%; }

.ticket {
  padding-left: 235px;
  padding-right: 550px;
  padding-top: 75px; }

.ticket_pp {
  width: 80px;
  height: 80px;
  margin-top: 10%;
  border-radius: 50%; }

.ticket_pc {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 25%;
  margin-left: 25%; }

.pad {
  background: white;
  padding: 10px;
  margin-bottom: 2%;
  border-radius: 3%; }

.comment {
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 11px;
  margin-bottom: 5%; }

.ticket_form {
  padding-right: 50px;
  padding-left: 50px; }

div img.pp {
  border-radius: 50%;
  margin-right: 20px; }

div.border {
  border-bottom: #71787E solid thin; }

.circle {
  position: relative;
  top: 10px;
  width: 40px;
  height: 40px;
  background-color: #DBDBDB;
  border-radius: 10px; }
  .circle.active {
    background-color: #009AD4; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #DBDBDB; }
