.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(2, [row] auto);
  margin-top: 5%; }

.row_left {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative; }

.row_center {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  position: relative; }

.row_right {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 4;
  position: relative; }

input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #878787;
  background: #DBDBDB;
  box-sizing: border-box; }

.center_element_row {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.right_element_row {
  display: flex;
  flex-direction: row;
  justify-content: right; }

.left_element_row {
  display: flex;
  flex-direction: row;
  justify-content: left; }

.head1 {
  font-size: 32px;
  line-height: 44px; }

.head2 {
  font-size: 22px;
  line-height: 32px; }

.head3 {
  font-size: 20px;
  line-height: 28px; }

.paragraph_style {
  font-size: 16px;
  line-height: 24px; }

.add_paragraph_footer {
  font-size: 14px;
  line-height: 22px; }

.link_style {
  font-size: 14px;
  line-height: 22px; }

button {
  background-color: #4CAF50;
  margin: 8px 0;
  cursor: pointer;
  padding: 14px 25px;
  transition: opacity 0.5ms ease-in-out;
  border: 3px solid #4CAF50;
  border-radius: 6px;
  color: white; }
  button.large {
    width: 100%; }
  button.medium {
    width: 50%; }
  button.small {
    width: 25%; }

button:hover {
  opacity: 0.8; }

.login {
  margin-left: 20%;
  margin-right: 20%; }
  .login_title {
    border: 0.5px solid;
    background-color: #F8FAFC; }
  .login_content {
    border: 0.5px solid;
    border-top: none;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #ffffff; }

img {
  width: 82px;
  height: 82px; }
  img.logo {
    width: 50px;
    height: 50px; }

.ico {
  position: absolute;
  top: -25px; }
  .ico.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1E95EE; }

.divider {
  position: relative;
  height: 1px;
  margin: 0.5em 10em;
  color: #000;
  background-color: black;
  border: 0; }
  .divider.right {
    top: 37px;
    right: 140px; }
  .divider.left {
    top: 28px;
    left: 140px; }

body {
  background: #DBDBDB;
  margin: 0;
  padding: 0; }
