body {
    font-family: 'Noto Serif', serif;
    background: #EFF3F6;
}

/*Gestion de la navBar*/
nav {
    background-color: #1F95EF;
}

nav ul li a {
    color: #ffffff;
}

nav .picture{
    border-radius: 35px;
    width: 15%;
}

nav.customize {
    background-color: #FFFFFF;
    color: #000000;
}

nav.customize h6{
    margin-top: 20%;
    margin-left: 50%;
}

