p #{question.title}
p  User : #{question.user.name}

#{question.content}


    if question.comments.comment_content === null
        p Commentaire : Aucun
    else
        p Commentaire: #{question.comments.comment_content}



form(method='POST' action='/ticket/' + question.id enctype="x-www-form-urlencoded")

    label(for="comment_content") Your Response
    textarea#comment_content(name="comment_content")

    button.BtnValide(type="submit" name="action") Submit
