extends ../includes/layout

block content
    div.container_full_page
        div.CS_3.CE_9.RS_1.RE_1
            div.mr-5.ml-5
                div.card.large
                form(method='POST' action='/login' enctype="x-www-form-urlencoded")
                    div.login_title.center_element_row
                        h1 Welcome Back ! Please login
                    div.login_content
                        label(for="email") Sign up with your e-mail address
                        input#email.large(type="text" name="username")

                        label(for="password") Password
                        input#password.large(type="password" name="password")

                        button.large(type="submit" name="action") Sign in to Dashboard
                        p.center_element_row Login via social networks
                        div.center_element_row
                            img(src="https://png.icons8.com/color/100/000000/twitter-squared.png")
                            img(src="https://png.icons8.com/color/100/000000/facebook.png")
                            img(src="https://png.icons8.com/color/100/000000/pinterest.png")
                            img(src="https://png.icons8.com/color/100/000000/linkedin.png")